# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JWT\JWT_Auth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
